@charset "UTF-8";

body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
	background-color: #000;	
}

h1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: none;
	text-transform: none;
	color: #a499a9;	
}

h2{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: none;
	text-transform: none;
	color: #FF9;
}

h3{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant:none;
	text-transform: none;
	color: #6CF;
}

h4{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: none;
	text-transform: none;
	color: #a499a9;	
}

a{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #78bdcd;
	text-decoration: none;
	border:none;
}

a:hover{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
}

.stage{
	background-color: #000;
	height: 1199px;
	width: 1600px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url("images/bg1.png");
	background-repeat:no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}
.name{
	float: right;
	height: 150px;
	width: 1270px;
	margin-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 00px;
	margin-left:30px;
}
span{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #99F;
}
.nav{
	float: right;
	height: 50px;
	width: 1270px;
	margin-top: 150px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 00px;
	margin-left:30px;	

}
.content{
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 320px;
	padding-left: 340px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.content2{
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 320px;
	padding-left: 340px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.content3{
	width: 900px;
	margin-left: 200;
	padding-top: 320px;
	padding-left:280px;
	margin-bottom:0px;
	padding-bottom:0px;
}

.paraleft{
	width: 480px;
	margin-bottom:0px;
	padding-bottom:0px;
	float:left;
	padding-right:10px;
}

.pararight{
	width: 480px;
	margin-bottom:0px;
	padding-bottom:0px;
	float:left;
	padding-left:10px;
}


.imgleft{
	float:left;
	padding:10px;
}

.imgicon{
	width:200px;
	height:200px;
	padding: 5px;
	margin: 10px;
}
.footer{
	clear: both;

	padding: 50px 0;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
	font-variant: none;
	color: #FFC;
	text-align: center;
}
